.container {
    width: 50%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}

.full-width {
    width: 100%;
}

h1, img {
    text-align: center;
}

img {
    height: 15rem;
}

.status-prioridade {
    display: flex;
    justify-content: space-between;
}

.status-prioridade mat-form-field {
    width: 49%;
}

.descricao {
    min-height: 6rem;
    max-height: 10rem;
}

button {
    margin-bottom: .5rem;
}