<mat-card class="card mat-elevation-z8">
    <mat-card-header>  
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Sistema de controle de chamados e serviços</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/home-image.svg" alt="Home">
    <mat-card-content>
      <p>Bem vindo ao sistema Help Desk, sistema criado com foco na organização e controle de chamados e serviços.<br></p>
      <p>Com nosso sistema você poderá ficar tranquilo com a organização do seu negócio, pois agora será fácil e prático de controlar suas rotinas.</p>
    </mat-card-content>
  </mat-card>