<div class="container">
    <form class="form mat-elevation-z8">
        <h1>Help Desk | Manager</h1>

        <img src="assets/images/login-image.svg" alt="Help Desk - Manager">


        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Ex. exemplo@mail.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Ex. 1234">
        </mat-form-field>

        <button class="full-width mat-elevation-z4" mat-raised-button color="primary">Entrar</button>


    </form>

</div>